gradio
numpy
pandas
scikit-learn
matplotlib
tqdm
timm
transformers
pillow
opencv-python
uvicorn
fastapi
torch --index-url https://download.pytorch.org/whl/cu121
torchvision --index-url https://download.pytorch.org/whl/cu121
torchaudio --index-url https://download.pytorch.org/whl/cu121